<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <div>
            <a class="button button-balanced button-icon icon ion-ios7-arrow-back"
               ng-click="goBack()"></a> <a class="button"
                                           href="#/app/profile"> <img class="button-icon"
                                                                      style="position: absolute;left: -4px;top: 2px;max-height: 28px;border-radius: 4px"
                                                                      src="http://ionicframework.com/img/docs/venkman.jpg">
            <span style="margin-left: 30px">fwef</span> </a>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-more"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" style="padding-bottom: 20px">
        <div class="list card">
            <div class="item item-avatar item-stable">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <div class="item item-divider">
                    Media
                </div>
                <div class="item" style="height: 60px;padding: 0">
                    <div class="row">
                        <div class="item-avatar col item-media"><img src="http://ionicframework.com/img/docs/mcfly.jpg"></div>
                        <div class="item-avatar col item-media"><img src="http://ionicframework.com/img/docs/venkman.jpg"></div>
                        <div class="item-avatar col item-media"><img src="http://ionicframework.com/img/docs/spengler.jpg"></div>
                        <div class="item-avatar col item-media"><img src="http://ionicframework.com/img/docs/mcfly.jpg"></div>
                        <div class="item-avatar col item-media"><img src="http://ionicframework.com/img/docs/mcfly.jpg"></div>
                    </div>
                </div>
                <div class="item item-divider">
                    Groups
                </div>
                <div class="list">
                    <a class="item item-avatar" href="#">
                        <img src="http://ionicframework.com/img/docs/venkman.jpg">
                        <h2 style="margin: 0px!important">FamiliaSantos&Cia</h2>
                        <p style="margin: 0!important">Ana Raquel, José, Luciana, Lívia</p>
                    </a>
                    <a class="item item-avatar" href="#">
                        <img src="http://ionicframework.com/img/docs/venkman.jpg">
                        <h2 style="margin: 0px!important">FamiliaSantos&Cia</h2>
                        <p style="margin: 0!important">Ana Raquel, José, Luciana, Lívia</p>
                    </a>
                    <a class="item item-avatar" href="#">
                        <img src="http://ionicframework.com/img/docs/venkman.jpg">
                        <h2 style="margin: 0px!important">FamiliaSantos&Cia</h2>
                        <p style="margin: 0!important">Ana Raquel, José, Luciana, Lívia</p>
                    </a>
                    <a class="item item-avatar" href="#">
                        <img src="http://ionicframework.com/img/docs/venkman.jpg">
                        <h2 style="margin: 0px!important">FamiliaSantos&Cia</h2>
                        <p style="margin: 0!important">Ana Raquel, José, Luciana, Lívia</p>
                    </a>
                </div>
            </div>
            <div class="item item-divider">
                Phones
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>